# IDE #
#######
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr

# Rapport #
###########
.surefire*
*.log

# Fichier generes #
###################
**/target/*
/target/

**/fichiersGeneres/*
/fichiersGeneres/

*.exe

*.jasper

# Donnees test #
################
**/donnees/*