# IDE #
#######
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr

# Rapport #
###########
.surefire*

# Fichier generes #
###################
**/target/*
/target/

**/fichiersGeneres/*
/fichiersGeneres/

# Donnees test #
################
donnees/